<!DOCTYPE HTML>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="{{url_for('static', filename='js/viz-standalone.js')}}"></script>
	<script src="{{url_for('static', filename='js/diagrams.js')}}" type="module"></script>
	{% block head %}
	{% endblock %}
	
	<title>DiagramDeph - {{title}}</title>

</head>

<body>

	<header class="header">
		<nav>
		</nav>
	</header>
	{% block content %}
	{% endblock %}

</body>

</html>